Repository gdwmw/DIZETO: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs}": ["eslint --fix", "eslint", "prettier --write"],
  "*.{json,css}": ["prettier --write"]
}

build: 📦️ update dependencies
  bun.lock
  package.json
Due: prettier --write

feat: 🎉 loading
  src/app/(authed)/(user)/list-portfolio/loading.tsx
  src/app/(authed)/(user)/portfolio/[slug]/loading.tsx
  src/app/loading.tsx
  src/components/templates/image-detail/index.tsx
  src/layouts/home/modules/main/batches/highlight/index.tsx
  src/layouts/list-portfolio/modules/main/batches/content/index.tsx
  src/layouts/portfolio/modules/main/batches/content/index.tsx
Due: eslint --fix, eslint, prettier --write

refactor: 💡 fonts
  src/app/fonts/Inter.ttf
  src/app/fonts/Roboto.ttf
  src/app/fonts/index.ts
  src/app/layout.tsx
  tailwind.config.ts
Due: eslint --fix, eslint, prettier --write

perf: ⚡️ images
  src/layouts/home/modules/main/index.tsx
  src/layouts/list-portfolio/modules/main/index.tsx
Due: eslint --fix, eslint, prettier --write

docs: 📝 readme
  README.md
  public/assets/images/project/1.png
  public/assets/images/project/2.png
  public/assets/images/project/3.png
  public/assets/images/project/4.png
Due: none

refactor: 💡 components
  src/components/elements/button/index.tsx
  src/components/templates/card-package/index.tsx
  src/components/templates/contact-info/index.tsx
  src/components/templates/image-detail/index.tsx
  src/components/templates/modal/index.tsx
  src/components/templates/paper/index.tsx
  src/components/templates/portfolio-title/index.tsx
  src/components/templates/title/index.tsx
  src/layouts/home/index.tsx
  src/layouts/home/modules/header/batches/content/.gitkeep
  src/layouts/home/modules/header/batches/index.ts
  src/layouts/home/modules/header/index.tsx
  src/layouts/home/modules/index.ts
  src/layouts/home/modules/main/batches/contact/index.tsx
  src/layouts/home/modules/main/batches/pricing/index.tsx
  src/libs/constants/components/index.ts
  src/types/components/index.ts
Due: eslint --fix, eslint, prettier --write

refactor: 💡 types
  src/types/api/index.ts
Due: eslint --fix, eslint, prettier --write

docs: 📝 readme
  README.md
  public/assets/images/project/4.png
Due: none

perf: ⚡️ images
  src/layouts/home/modules/main/index.tsx
  src/layouts/list-portfolio/modules/main/index.tsx
  src/layouts/portfolio/modules/main/index.tsx
Due: eslint --fix, eslint, prettier --write

perf: ⚡️ images
  src/app/list-portfolio/loading.tsx
  src/app/list-portfolio/page.tsx
  src/app/loading.tsx
  src/app/portfolio/[slug]/loading.tsx
  src/app/portfolio/[slug]/page.tsx
  src/layouts/home/modules/main/index.tsx
  src/layouts/list-portfolio/modules/main/index.tsx
  src/layouts/portfolio/modules/main/index.tsx
  src/utils/api/base/index.ts
  src/utils/api/portfolio/index.ts
Due: eslint --fix, eslint, prettier --write

refactor: 💡 api
  src/utils/api/authentication/login/index.ts
  src/utils/api/authentication/register/index.ts
  src/utils/api/base/index.ts
  src/utils/api/data/index.ts
  src/utils/api/example/index.ts
  src/utils/api/user/index.ts
Due: eslint --fix, eslint, prettier --write

refactor: 💡 api
  src/utils/api/authentication/login/index.ts
  src/utils/api/authentication/register/index.ts
  src/utils/api/base/index.ts
  src/utils/api/data/index.ts
  src/utils/api/example/index.ts
  src/utils/api/upload/index.ts
  src/utils/api/user/index.ts
Due: eslint --fix, eslint, prettier --write

refactor: 💡 thumbnail
  src/layouts/home/modules/main/index.tsx
  src/layouts/list-portfolio/modules/main/batches/content/index.tsx
  src/layouts/list-portfolio/modules/main/index.tsx
  src/layouts/portfolio/modules/main/index.tsx
Due: eslint --fix, eslint, prettier --write

refactor: 💡 utils api use axios
  bun.lock
  package.json
  src/app/portfolio/[slug]/page.tsx
  src/utils/api/base/index.ts
  src/utils/api/highlight/index.ts
  src/utils/api/portfolio/index.ts
Due: eslint --fix, eslint, prettier --write

refactor: 💡 helper
  src/hooks/functions/index.ts
  src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  src/layouts/password/pages/change/modules/main/batches/content/index.tsx
Due: eslint --fix, eslint, prettier --write

fix: 🔧 vercel quota limit
  src/app/list-portfolio/page.tsx
  src/app/portfolio/[slug]/page.tsx
  src/utils/api/highlight/index.ts
Due: eslint --fix, eslint, prettier --write

chore: ⚙️ port
  package.json
Due: prettier --write

chore: ⚙️ next config
  next.config.ts
Due: eslint --fix, eslint, prettier --write

refactor: 💡 metadata
  src/app/list-portfolio/page.tsx
  src/app/page.tsx
  src/app/portfolio/[slug]/page.tsx
  src/libs/constants/contents/index.ts
Due: eslint --fix, eslint, prettier --write
